body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#meret{
    max-width: 5%;
}

#logo{
    max-width: 50%;
}

#urlap{
    margin: auto;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    max-width: 15%;
    background-color: #880808;
    border-radius: 20px;
}


label{
    padding-top: 1rem;
    color: whitesmoke;
}

#gomb{
    margin-bottom: 1rem;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

#gomb:hover{
    background-color: whitesmoke;
    color: #880808;
}
 
.card-container {
    display: flex; 
    gap: 100px;
    justify-self: center;
    margin-top: 100px;
}
  
.card {
    width: 500px;
    height: 700px;
    background-color: #880808;
    border: 10px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    
}
  
.card-img-top{
    height: 350px;
}

h5{
    text-align: center;
}


.doboz{
    margin: auto;
    margin-top: 1%;
    padding: 1rem;
    background-color: #880808;
    border-radius: 20px;
    max-width: 15%;
    color: whitesmoke;
    text-align: center;
}

#nagydoboz{
    display: flex;
    justify-content: space-between;
}